.map-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1% 1% 0;
    position: absolute;
    top: 0;
    left: 150%;
    >:nth-child(1){
        width: 100%;
        height: 90%;
    }
}
.font-red {
    font-size: 14px;
    color: #d41616;
}
.font-style {
    font-size: 14px;
}
.title {
    font-size: 18px;
    line-height: 40px;
    width: 100%;
    height: 40px;
    align-items: center;
    text-align: center;
}
.master-card {
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: -30%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #cf0300;
    }
    &::before {
        content: "";
        position: absolute;
        right: -30%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #e2a456;
    }
}
.details {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    > :nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        > :nth-child(1) {
            font-size: 16px;
        }
    }
    > :nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        background-color: black;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
}
.map {
    width: 100%;
    height: calc(100% - 80px - 80px - 40px);
    display: flex;
    justify-content: center;
    align-items: center;
    .err {
        text-align: center;
        div {
            margin: 10px;
        }
        > :nth-child(2) {
            display: inline-block;
            color: rgb(0, 89, 255);
            border-bottom: 1px solid rgb(0, 89, 255);
            cursor: pointer;
        }
    }
}
.pin {
    border: 10px solid black;
    height: 40px;
    width: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pop-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 90%;
    max-width: 450px;
    height: 250px;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 1px 3px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    input {
        width: 100%;
    }
    .btns{
        display: flex;
        div{
            cursor: pointer;
            width: 50%;
            text-align: center;
            border: 1px solid gray;
            margin: 2px;
        }
        >:nth-child(1){
            background-color: black;
            color: white;
        }
    }
    .radio{
        display: flex;
        align-items: center;
        >:nth-child(2){
            margin: 0 0 0 3px;
        }
        input{
            width: inherit;
        }
    }
}
.card-edit{
    display: flex;
    flex-direction: column;
    span{
        color: gray;
        font-size: 14px;
    }
    >:nth-child(2){
        margin: 3px 0 0 0 ;
        display: flex;
    }
}
.btns-containers{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    >:nth-child(1){
        background-color: white;
        width: 100%;
    }
    >:nth-child(2){
        width: 80px;
        min-width: 80px;
        text-align: center;
        color: white;
        background-color: black;
    }
    .disable{
        color: gray;
        background-color: #F8F8F8;
        pointer-events: none;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        cursor: pointer;
    }
}
@media only screen and (min-width: 995.4px) {
    .map-container {
        padding: 1% 5% 0;
    }
    .btns-containers{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        >:nth-child(1){
            width: 70%;
        }
        >:nth-child(2){
           width: 30%;
           min-width: none;
        }
    }
}