.menu-container{
    max-width: 1200px;
    width: 0%;
    height: 0%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #F8F8F8;
    border: 0px solid #F8F8F8;
    overflow: hidden;
}
.cover{
    position: absolute;
    opacity: 1;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: white;
    pointer-events: none;
}
.list{
    opacity: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    top:0;
    overflow: hidden;
    >:nth-child(1){
        height: calc(100% - 60px);
    }
    >:nth-child(2){
        height: 60px;
    }
}
.order-list{
    width: 100%;
    opacity: 1;
    background-color: white;
    margin: auto;
    padding: 2.5% 2vw;
    display: flex;
    flex-direction: column;
    height: calc(100% - 60px);
    position: absolute;
    left: 150%;
    top: 0;
    >:nth-child(1){
        position: relative;
    }
    .list-icon{
        position: absolute;
        bottom: 0;
        width: 25px;
        height: 25px;
    }
    .title{
        text-align: center;
        font-size: 18px;
    }
    .transports{
        display: flex;
        margin: 10px 0 0 0;
        .active{
            background-color: #8E7D23;
            color: white;
        }
        div{
            font-size: 14px;
            color: black;
            background-color: #F8F8F8;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            cursor: pointer;
        }
    }
    .order-items{
        height: calc(100% - 200px);
        overflow-x: hidden;
    }
    hr{
        margin: 10px 0;
        border: 1px solid #eeeded;
    }
    .price{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 150px;
        div{
            display: flex;
            justify-content: space-between;
        }
    }
    .tooltip{
        height: calc(100% - 200px);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: gray;
        font-size: 14px;
        >:nth-child(1){
            width: 80%;
        }
    }
}
.menu-list{
    width: 100%;
    height: 100%;
    padding: 1.5% 0 0 0;
    
    /*
    opacity: 0;
    width: 0%;
    height: 0%;
    */
    .logo{
        margin: auto;
    }
    .shop-icon{
        width: 25px;
        height: 25px;
        position: absolute;
        margin: 0 0 3px 0;
        bottom: 0;
        right: 10px;
    }
    overflow-x: hidden;
    >:nth-child(1){
        >:nth-child(1){
            position: relative;
        }
    }
    >:nth-child(2){
        margin: 5px 0;
        height: calc(100% - 75px - 10px);
        overflow-x: hidden;
    }
}

.btns-container{
    height: 60px;
    display: flex;
    justify-content: center;
    >:nth-child(1){
        width: 70%;
        background-color: white;
    }
    >:nth-child(2){
        width: 30%;
        color: white;
        background-color: black;
    }
    .disable{
        color: gray;
        background-color: #F8F8F8;
        pointer-events: none;
    }
    div{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        cursor: pointer;
    }
}
.type{
    max-width: 500px;
    margin: auto;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #BCBCBC;
    .active{
        color: #8E7D23;
    }
    div{
        cursor: pointer;
    }
}
.item{
    display: flex;
    flex-direction: row;
    margin: 3px;
    height: 80px;
    img{
        width: 100%;
    }
    .image{
        width: 100px;
        flex-grow: 0;
        background-color: #EEEEEC;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .info{
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        background-color: white;
        >:nth-child(1){
            font-size: 16px;
            color: #262626;
            >:nth-child(1){
                line-height: 17px;
            }
            >:nth-child(2){
                font-size: 12px;
                color: gray;
            }
        }
        >:nth-child(2){
            font-size: 14px;
            color: #d41616;
            font-weight: 700;
        }
    }
    .add{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background-color: black;
        width: 100px;
        cursor: pointer;
    }
}
.order-item{
    display: flex;
    align-items: center;
    height: 55px;
    margin: 0.5% 0;
    .number{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid #8E7D23;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
    .message{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 80%;
        padding: 0 2% 0 3%;
        font-size: 14px;
        width: calc(100% - 50px - 20px);
        >:nth-child(2){
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .close{
        width: 20px;
        height: 100%;
        position: relative;
        >:nth-child(1){
            transform: translate(-50%, -50%) rotate(50deg);
        }
        >:nth-child(2){
            transform: translate(-50%, -50%) rotate(-50deg);
        }
        span{
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            border: 1px solid #d41616;
            background-color: #d41616;
            width: 12px;
            cursor: pointer;
        }
    }
    .btns{
        display: flex;
        div{
            font-size: 16px;
            border-radius: 2px;
            width: 15px;
            text-align: center;
            cursor: pointer;
            margin: 0 0 0 10px;
        }
    }
}

@media only screen and (min-width: 995.4px) {
    .menu-list{
        width: 70%;
        >:nth-child(2){
            margin: 10px 0;
            padding: 0 20px;
            height: initial;
            max-height: calc(100% - 75px - 30px);
            display: inline-flex;
            flex-wrap: wrap;
        }
    }
    .item{
        width: 49%;
    }
    .order-list{
        margin: 0 0 0 0.5%;
        width: 30%;
        height: 100%;
        opacity: 1;
        position: initial;
        top:initial;
        right: initial;
    }
    .list{
        > :nth-child(1) {
            display: flex;
        }
    }
    .shop-icon{
        display: none;
    }
    .list-icon{
        display: none;
    }
}